.idea/
*.iml
*.log
*.DS_Store
.gradle/
build/
target/
vk-pom.xml
vk.config.*.yml
accounts_dump.txt
accounts_statistic.txt
tests_count.txt
test-output/
tl_export/
!/pom.xml
!/vk-ui-tests/pom.xml
/vk.secrets.yml
/vk.secrets.*.properties
/volume/
